# ===============================
# Node / Frontend
# ===============================
node_modules/

# ===============================
# Environment / Secrets
# ===============================
# .env # tạm thời up cả .env lên để dễ dàng chỉnh sửa, sau này sẽ thêm vào

# ===============================
# Python / Backend
# ===============================
__pycache__/